@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import 'tailwindcss';

/* :root { */
/*   --background: #ffffff; */
/*   --foreground: #171717; */
/* } */

@theme inline {
  --color-base: #a5a5a5;
  --color-bright: #cccccc;
  --color-dim: #7f7f7f;
  --color-bg: #595959;
  --color-fg: #f2f2f2;

  --font-base: 'Schoolbell', cursive;
  --default-font-family: var(--font-base);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #595959;
    --foreground: #f2f2f2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
